<!-- NG-ZORRO -->
<!-- <a ngIf={{isVisible}} href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="../assets/logo.png">
</a> -->

<nz-layout>
  <nz-header class="">{{title}}</nz-header>
  <nz-content>
    <div class="inner-content">
      <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzFor]="controlArray[0].fieldName">{{controlArray[0].label}}</nz-form-label>
              <nz-form-control>
                <nz-date-picker #dtpkr [(ngModel)]="firstDayAvailable"
                  nzFormat="dd/mm/yyyy"
                  [nzDisabledDate]="disableDate"
                  [formControlName]="controlArray[0].fieldName"
                  style="flex: none;"
                ></nz-date-picker>
              </nz-form-control>
              <nz-form-label [nzFor]="controlArray[1].fieldName">{{controlArray[1].label}}</nz-form-label>
              <nz-form-control>
                <nz-select [(ngModel)]="selectedPlaca"
                  [compareWith]="compareFn"
                  [formControlName]="controlArray[1].fieldName"
                  nzAllowClear nzPlaceHolder="Veiculos"
                >
                <nz-option *ngFor="let placa of placas" [nzValue]="placa" [nzLabel]="placa"></nz-option>
              </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">Search</button>
            <button nz-button (click)="resetForm()">Clear</button>
          </div>
        </div>
      </form>
      <nz-divider nzType="horizontal"></nz-divider>
      <nz-table #basicTable [nzData]="dataSet" [nzPageSize]="8">
        <thead>
          <tr>
            <th>Posicao</th>
            <th>Placa do Veículo</th>
            <th>Tempo de Permanência</th>
            <th>Dia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.nome}}</td>
            <td>{{data.placa_veiculo}}</td>
            <td>{{data.tempo_permanencia}}</td>
            <td>{{data.dia.toLocaleDateString()}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
  <nz-footer>Aleson Barreto ©2022 Implement by Angular</nz-footer>
</nz-layout>